body{
    margin:0;
    background-color: #090909;
    color: white;
}



/*adjusting the navigationbar*/
nav{
    font-size: 25px;
    background-color:#000000;
    height:100px;
}

nav a{
    text-decoration: none;
    color:#FFFFFF;
    line-height: 100px;
    padding:0 50px;
}

nav a:hover{
    color:#654FFF;
}

nav img{
    padding:20px 0px;
    height:50px;
    width: 50px;
}

